body{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    background-color: #212121;
}

/* Header Stuff Here */
header {
    background-color: #212121;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #f0f9b4;
}

header p {
    margin: 0;
    color: #f0f9b4;
    letter-spacing: .5px;
}

/* Nav Stuff Here */
nav {
    background-color: #d667c1;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color:#212121;
    color:#f0f9b4;
}

nav a:hover {
    color: #f0f9b4;
}

/* Main Stuff Here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #e8e8e8;
}

main h2 {
    color: #f0f9b4;
    margin-bottom: .2rem;
}

main h3 {
    color: #d667c1;
}

main p {
    color: #939393;
    margin: 0 0 .3rem 0;
}

main p strong {
    color: #d667c1;
}

main ol {
    padding: .5rem 3vw;
    background-color: #212121;
    list-style-type: disc;
    color: #e8e8e8;
    border: 1px solid #f0f9b4;
}

main dl dt {
    color: #d667c1;
    font-weight: 700;
}

main dl dd {
    color: #e8e8e8;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: #d667c1;
}

main address {
    font-style: normal;
    font-weight: 700;
    background-color: #212121;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #f0f9b4;
    color: #e8e8e8;
}

main a {
    color: #d667c1;
}

main a:hover {
    color: #f0f9b4;
}

/* Footer Stuff Here*/

footer{
    background-color: #212121;
    text-align: center;
    color: #f0f9b4;
    padding: 1rem 0;
    margin: 1.5rem;
    font-size: .8rem;
    border: 1px solid #f0f9b4;
}

footer a {
    color: #212121;
}